<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695869962392-2kff9tsll1a8754j4d99r5vq3esmlttn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695869962392-2kff9tsll1a8754j4d99r5vq3esmlttn</string>
	<key>API_KEY</key>
	<string>AIzaSyCUSFhVi_jV9p-FADAPelL_fYQwgS4JWHs</string>
	<key>GCM_SENDER_ID</key>
	<string>695869962392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CDT307.cetacproject</string>
	<key>PROJECT_ID</key>
	<string>bd-cetac</string>
	<key>STORAGE_BUCKET</key>
	<string>bd-cetac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695869962392:ios:c97522f758a0890ca4b8ed</string>
</dict>
</plist>